*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:linear-gradient( LemonChiffon,BurlyWood, 	DimGray);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

h1{
    font-size: 60px;
}

img{
    max-width: 100%;
}

#formulario{
    display: flex;
    width: 800px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
}
main{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap: 5px;
    width:100%;
}

#formulario main div{
    display: flex;
    flex-direction: column;
    gap: 4px;
   width: 40%;
}

#formulario input,button{
   
    padding: 10px;
    border-radius: 8px;
}

#formulario button{
    border: none;
    outline: none;
    background:rgb(8, 2, 67);
    color: white;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
    -moz-appearance: textfield;
    -moz-appearance: none;
}